################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/assets
/Service References/Application Insights
/ApplicationInsights.config
