.hpbanner {
    background: url(../img/homepage-hero-0930.jpg) top / cover no-repeat;
    min-height: 96vh;
    width: 100%;
}

.hpbox {
    background: #000;
    padding: 20px 10px;
    margin-top: 14vh;
    position: absolute;
    width: 100%;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-left: -1.6em;
}

.hpbox .inner {
    margin: 0 auto;
    max-width: 570px;
}

.hpbox span {
    color: #f47e40
}

.headerbtn {
    /* bottom: 20%; */
    margin-top: 6vh;
    bottom: inherit;
}

.header-media {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* bottom: 9%; */
    margin-top: 38vh;
}

.header-text {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* bottom: 9%; */
    margin-top: 12vh;
}

.header-text h3 {
    color: #f06824;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
}

.header-media h4 {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 22px;
}

.header-media img {
    margin-left: 40px
}

.nextevent {
    background: transparent
}

input[type="submit"].white {
    background: #faf9f9 !important;
    color: #f06824 !important;
    padding: 5px;
    max-width: 170px;
    text-transform: none !important;
    font-size: 16px;
}

.btn-cta {
    margin: 0 10px;
    width: 283px;
}

.btn-cta input {
    background: #00B356;
}

.headerbtn-center {
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0);
}

@media screen and (min-width: 1024px) {
    .twocol.detail-content p {
        width: 50%;
        margin-bottom: 0;
        padding: 0 15px;
    }
}

@media screen and (max-width: 480px) {

    .hpbanner {
        min-height: 88vh;
        max-height: 92vh;
    }

    .header-text {
        margin-top: 4vh;
    }

    .header-text h3 {
        font-size: 26px;
    }

    .hpbox {
        margin-top: 9vh;
    }

    .header-media {
        display: inherit;
        text-align: center;
        padding: 0 5px;
        margin-top: 29vh;
    }

    .header-media h4 {
        display: block;
        font-size: 18px;
    }

    .header-media img {
        margin-left: 0
    }

}

@media screen and (max-width: 374px) {

    /* .hpbanner {
        background: url(../img/homepage-hero-0930-mobile.jpg?v=1) no-repeat;
        min-height: 550px;
        width: 100%;
        background-size: contain;
    }
    */
    .hpbanner {
        background: url(../img/homepage-hero-0930.jpg?z9) top / cover no-repeat;
        min-height: 88vh;
    }

    .hpbox {
        margin-top: 4vh;
    }

}

.intro-page .section-title h4 {
    margin-right: 63px;
}

@media screen and (max-width: 721px) {
    .intro-page .section-title h4 {
        margin-right: 0;
    }
}

@media screen and (max-width: 750px) {
    .with-logo .logos {
        flex-wrap: wrap;
        padding-left: 0;
        padding-right: 0;
        justify-content: unset;
    }
}




@media screen and (min-width: 1024px) {
    .twocol.detail-content p {
        width: 50%;
        margin-bottom: 0;
        padding: 0 15px;
    }
}

.main-menu.nav-fixed {
    padding-bottom: 0px;
    height: 120px;
}

.main-menu:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: #d3d3d3;
    bottom: 0;
    left: 0;
}

.main-menu.nav-fixed ul li {
    padding: 0px 15px;
}

.slicknav_nav a {

    padding: 1.5vh 0 1.5vh 0;
}

#sub-menu-bar {
    display: none
}

#sub-menu-bar-top a {
    color: #333;
}

#sub-menu-bar-top {
    position: fixed;
    width: 100%;
    left: 0;
    margin-top: 4px;
    padding: 0;
}

#sub-menu-bar-top li {
    width: 20%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.slicknav_nav li:first-child {
    margin-top: 50px;
    border-top: 1px solid #eee;
}

li a[href*="speakers"] {
    display: none
}


.agenta-two-titles {
    background: transparent;
}

.agenta-two .row {
    border: 1px solid #dedede;
}

.with-logo {
    padding-bottom: 10px;
    width: 100% !important;
    background-color: inherit;
}

.logos {
    padding-left: 45px;
    padding-right: 0;
}

.slot_0130 {
    padding-left: 59px;
}

.with-logo span:first-of-type {
    display: none;
}

hr {
    width: 96%;
    color: #333;
    border-top: 1px solid #dedede;
    margin-top: 0;
    margin-bottom: 14px;
}